{% extends "base.html" %}

{% block title %} Home page {% endblock %}

{% block maincontent %}
  <section class="container py-5">
    {% if tasks %}
      <div class="row">
        <div>
          <h2 class="fw-semibold text-center">All Tasks</h2>
        </div>
      </div>
      <div class="row mt-5">
        {% for task in tasks %}
          <div class="col-3 card-group">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">Title: {{task.task_title}}</h5>
                <p class="card-text">Description: {{task.task_description}}</p>
                <p class="card-text">Status 
                  {{ task.is_completed | yesno:'completed, not completed' }}
                </p>
                <div class="d-flex flex-wrap gap-2">
                  {% for item in task.category.all %}
                    <span class="badge rounded-pill text-white bg-info">{{item.name}}</span>
                  {% endfor %}
                </div>
              </div>
              {% if task.is_completed %}
                <div class="card-footer text-center">
                  <span class="badge text-white bg-success">Completed</span>
                </div>
              {% else %}
                <div class="card-footer">
                  <button class="btn btn-sm btn-warning">
                    <a class="nav-link" href="">Edit</a>
                  </button>
                  <button class="btn btn-sm btn-danger">
                    <a class="nav-link" href="">Delete</a>
                  </button>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
    <div class="row">
      <div class="col-12">
        <h2 class="fw-semibold text-center">No Task available</h2>
      </div>
    </div>
    {% endif %}
  </section>
{% endblock %}